<!DOCTYPE html>
<html lang="en">
<head>
    <title>UrGame</title>
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="2" >-->
    <!--Fix - The client ID should change to 40503956114-tpipggvtu7vau02q78roviac34gea6fs-->
    <meta name="google-signin-client_id"
          content="992987888139-42q6opd5qe8ml8d92ca5j6sf23k8ofrh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/black.js"></script>
    <script src="javascripts/script.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />



</head>
<body>