<!DOCTYPE html>
<html lang="en">
<head>
    <title>UrGame</title>
    <meta charset="UTF-8">

    <noscript id="deferred-styles">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link href="stylesheets/toastr.min.css" rel="stylesheet"/>

        <link rel="stylesheet" type="text/css" href="stylesheets/tinyprogressbar.css"/>
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    </noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script>
			var loadDeferredStyles = function () {
				var addStylesNode = document.getElementById("deferred-styles");
				var replacement = document.createElement("div");
				replacement.innerHTML = addStylesNode.textContent;
				document.body.appendChild(replacement)
				addStylesNode.parentElement.removeChild(addStylesNode);
			};
			var raf = requestAnimationFrame || mozRequestAnimationFrame ||
					webkitRequestAnimationFrame || msRequestAnimationFrame;
			if (raf) raf(function () {
				window.setTimeout(loadDeferredStyles, 0);
			});
			else window.addEventListener('load', loadDeferredStyles);
    </script>
</head>
<body>