 GLOBAL GAMEPLAY PERFORMANCE
    STUFF


    <h2>ADD THIS?: Most users from this country</h2>
    <h2>DUPLICATE?- Total games played ever!</h2>
    <h2>REMOVE THIS?-User country breakdown(5)</h2>
    <h2>REMOVE THIS?-Peak Concurrent Users</h2>

    <div class="row">

        <div class="col-sm rad-info-box">
            <div class="icon">
                <i class="fa fa-gamepad"></i>
            </div>
            <span class="heading">Total Unique Users</span>
            <span class="value"><span>400</span></span>
        </div>

        <div class="col-sm rad-info-box">
            <div class="icon">
                <i class="fa fa-gamepad"></i>
            </div>
            <span class="heading">Total time spent playing this game ever!</span>
            <span class="value"><span>400</span></span>
        </div>
        <div class="col-sm rad-info-box">
            <div class="icon">
                <i class="fa fa-gamepad"></i>
            </div>
            <span class="heading">Total games everyone played ever!</span>
            <span class="value"><span>400</span></span>
        </div>
    </div>  <!--row-->
    <div class="row">

        <div class="col-sm box0">
            <div class="box1">
                <span class="li_heart"></span>
                <h3>933</h3>
                <h3>Total snake length ever!</h3>
            </div>
            <p>933 People liked your page the last 24hs. Whoohoo!</p>
        </div>

        <div class="col-sm box0">
            <div class="box1">
                <span class="li_heart"></span>
                <h3>933</h3>
                <h3>Total boosts used ever!</h3>
            </div>
            <p>933 People liked your page the last 24hs. Whoohoo!</p>
        </div>

        <div class="col-sm box0">
            <div class="box1">
                <span class="li_heart"></span>
                <h3>933</h3>
                <h3>Total kills ever!</h3>
            </div>
            <p>933 People liked your page the last 24hs. Whoohoo!</p>
        </div>

        <div class="col-sm box0">
            <div class="box1">
                <span class="li_heart"></span>
                <h3>933</h3>
                <h3>Total deaths ever!</h3>
            </div>
            <p>933 People liked your page the last 24hs. Whoohoo!</p>
        </div>

    </div>  <!--row-->

    <h1>AVERAGE SNAKE LENGTH OF ALL USERS graphed per game</h1>
    <h1>AVERAGE SNAKE KILLS OF ALL USERS graphed per game</h1>
    <h1>AVERAGE SNAKE BOOSTS OF ALL USERS graphed per game</h1>
