<h1>This is from the global stats.ejs file that should show up in the global tab</h1>
<% for (var i = 0; i< order.length; i++) { %>
<div id="champ">
    <span><%= order[i].id %></span>
    <span><%= order[i].name %></span>
    <span><%= order[i].drink %></span>
</div>
<% } %>