body {
    background-color: #161C22;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.holder {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 30px;
    color: rgb(128, 104, 192);
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.playBtn {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAA4CAYAAADXVynvAAABaElEQVQYlX3Gay9CAQDH4f+nOqWUa+7RuRXmNgzDKaV00XHKzIw1M2bGGHOP7/jz9rzyvHqU/W2T/W2jf+L+tHB/WuF0W7jdFnK7AW43QM53gPMdIOfrCOfrCNmfPvanj+wPH/vDR9Z7E+u9iay3Q6y3Q2S+NjBfGyjzUifzUkeZ5xqZ5xqaeaoy81RF048Vph8rKP1QJv1QRun7fdL3+2jqrsTUXQlN3haZvC2iiZsCEzcFNH6dZ/w6j8auPMauPDR6ucPo5Q4a6Wwz0tlGqYstUhdbKHW+Sep8Ew2fbTB8toGGTtcZOl1HgydrDJ6soYHjVQaOV1F/e4X+9grqC5bpC5ZR0l8i6S+hZHORZHMRJRoLJBoLqLc+T299HsWrc8Srcyh+MEv8YBbFKjlilRyKlXPEyjnUU8rSU8qiaNElWnRRdM8huueEEinYRAo2iuQtInkrFMOzMDwLGZ6J4Znh7JoYu6H8AeSP+YEiqrM7AAAAAElFTkSuQmCC);
    outline: none;
    width: 87px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    height: 47px;
    line-height: 47px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.75);
    border-radius: 34px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*Buttons*/
/* Shared */
.loginBtn {
    position: relative;
    font-family: "Roboto", Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #DD4B39;
    padding: 0.5em 1em 0.5em 3em;
    border-radius: 0.2em;
    font-size: 1em;
    color: #FFF;
    text-decoration: none;
    line-height: 1.5em;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}



.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

/*End of Buttons*/

.snakeInfo {
    width: 244px;
    margin-top: 34px;
    background: rgb(76, 68, 124);
    box-shadow: 0px 6px 50px rgb(0, 0, 0);
    /*opacity: 1; */
    position: relative;
    height: 43px;
    border-radius: 29px;
    border: 2px solid rgba(0, 0, 0, 1);
    overflow: hidden;
    display: inline-block;
}

.nameField {
    font-size: 15px;
    background: rgb(76, 68, 124);
    color: #e0e0ff;
    width: 220px;
    height: 24px;
    word-wrap: break-word;
    opacity: 1;
    position: absolute;
    left: 12px;
    top: 10px;
    vertical-align: middle;
    display: inline-block;
    border: none;
}

.card {
    background-color: #242F39;
}

.well
{
    background-color: #242F39;
}

.well.imp
{
    text-align: center;
}

#mainred{
    color: #AE3F69;
}


#maingreen{
    color: #60C57C;
}


#mainorange{
    color: #F4B46D;
}

#avgSnakeLengthchartdiv, #highestSnakeLengthchartdiv, #bestScoreAndKillschartdiv, #cummulativeMovingScorechartdiv, #avgSnakeLengthAllchartdiv, #highestSnakeLengthAllchartdiv {
    width: 110%;
    height: 500px;
}

#content {
    background-image: url("../images/slitherbackgroundgrain.png");
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.nav-fill {
    background-color: black;
    width: 100%;
}

/*Logo*/
svg {
    display: block;
    font: 300px 'Montserrat';
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 16% 9%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 3.5s infinite linear;
}

/*44CCFF, D138BF, 35FF69*/
/*FF2ECC, FF6663, E0FF4F*/
/*F8FF34 41DBDB 35FF69*/

.text-copy:nth-child(1) {
    stroke: #F8FF34;
    animation-delay: -1s;
}

.text-copy:nth-child(2) {
    stroke: #41DBDB;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #35FF69;
    animation-delay: -3s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -15%;
    }
}

/*End of Logo*/

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

#spacingBelowBox
{
    margin-bottom: 20px;
}

.box1 {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #989898;
}

.box1 span {
    font-size: 50px;

}

.box1 h3 {
    text-align: center;
}

.box1.boosts{
    color: #F4B46D;
}

.box1.best
{
    color: #AE3F69;
}

.box1.kills
{
    color: #60C57C;
}

.box0:hover .box1 {
    border-bottom: 1px solid #ffffff;
}

.box0 p {
    text-align: center;
    font-size: 12px;
    color: #161C22;
}

.box0:hover p {
    color: #ff865c;
}

.box0:hover {
    background: #000000;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

