body {
    background-color: #161C22;
    color: white;
}

.well#one
{
    background-color: thistle;
}
.well#two
{
    background-color: salmon;
}
.well#three
{
    background-color: mediumblue;
}
a {
    color: #00B7FF;
}

#avgSnakeLengthchartdiv, #highestSnakeLengthchartdiv, #timeOfKillschartdiv, #avgSnakeLengthAllchartdiv, #highestSnakeLengthAllchartdiv {
    width: 100%;
    height: 500px;
}

#content {
    background-image: url("../images/slitherbackgroundgrain.png");
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.nav-fill {
    background-color: black;
    width: 100%;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 16% 9%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 3.5s infinite linear;
}

/*44CCFF, D138BF, 35FF69*/
/*FF2ECC, FF6663, E0FF4F*/
/*F8FF34 41DBDB 35FF69*/

.text-copy:nth-child(1) {
    stroke: #F8FF34;
    animation-delay: -1s;
}

.text-copy:nth-child(2) {
    stroke: #41DBDB;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #35FF69;
    animation-delay: -3s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -15%;
    }
}

.rad-info-box {
    margin-bottom: 16px;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    background: grey !important;
}

.rad-info-box i {
    display: block;
    background-clip: padding-box;
    margin-right: 15px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 4.4em;
    position: absolute;
}

.rad-info-box .value,
.rad-info-box .heading {
    display: block;
    position: relative;
    color: #515d6e;
    text-align: right;
    z-index: 10;
}

.rad-info-box .heading {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}

.rad-info-box .value {
    font-size: 2.1em;
    font-weight: 600;
    margin-top: 5px;
}

.icon {
    color: pink;
}

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/* LINE ICONS CONFIGURATION */

.box1 {
    padding: 15px;
    text-align: center;
    color: #989898;
    border-bottom: 1px solid #989898;
}

.box1 span {
    font-size: 50px;

}

.box1 h3 {
    text-align: center;
}

.box0:hover .box1 {
    border-bottom: 1px solid #ffffff;
}

.box0 p {
    text-align: center;
    font-size: 12px;
    color: #161C22;
}

.box0:hover p {
    color: #ff865c;
}

.box0:hover {
    background: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

